<template>
  <q-page class="flex flex-center">
    <div class="contenedor">
    <img src="http://pluspng.com/img-png/pokemon-logo-png-pokemon-logo-png-2000.png" alt="Pokémon Logo" width='300px'>
    <form id="10" @submit.prevent='pedirPersonajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Select content type'
        :options="entitySelectOptions"
        dark
      />
      <q-input v-model="query" dark />
      <q-btn label='Buscar' color='yellow-6' @click='pedirPersonajes ()'/>
      <div v-if='pokemon'>
        <q-card color='#97ce4c' id='hola'>
          <q-card-title>
            {{ pokemon.name }}
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main>
            <img v-bind:src="pokemon.sprites.front_default" /> <img v-bind:src="pokemon.sprites.front_shiny" />
            <br>
            Base Experience : {{ pokemon.base_experience }}
            <br>
            Height : {{ pokemon.height }}
            <br>
            Weight : {{ pokemon.weight }}
            <br>
            Spd : {{ pokemon.stats[0].base_stat }}
            <br>
            SpDef : {{ pokemon.stats[1].base_stat }}
            <br>
            SpAtk : {{ pokemon.stats[2].base_stat }}
            <br>
            Def : {{ pokemon.stats[3].base_stat }}
            <br>
            Atk : {{ pokemon.stats[4].base_stat }}
            <br>
            Hp : {{ pokemon.stats[5].base_stat }}
            <br>
          </q-card-main>
        </q-card>
      </div>
    </form>
    </div>
  </q-page>
</template>

<style>
div.q-if{
margin-bottom: 10px;
padding-bottom: 10px;
}
div.contenedor{
  padding-bottom: 100px;
}
#hola{
  float: left;
}
body{
  background-image: url('https://wallpaper-gallery.net/images/pokemon-landscape-wallpaper/pokemon-landscape-wallpaper-5.jpg');
}
.q-card-title, .q-card-subtitle{
color: white;
}
.q-card-main, .q-card-container{
  color: white;
}
.q-card{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px transparent;
  text-align: center;
  margin-right: 5px;
  margin-top: 5px;
  height: 400px;
  width: 300px;
  background-color: rgba(0,0,0,.8);
}
</style>

<script>
export default {
  data () {
    return {
      pokemon: null,
      query: null,
      selectedEntity: 'pokemon',
      method: 'GET',
      entitySelectOptions: [
        {
          label: 'Pokemon',
          value: 'pokemon'
        }
      ]
    }
  },
  methods: {
    pedirPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://pokeapi.co/api/v2/' + entity + '/' + query
      this.$axios.get(url)
        .then((res) => {
          this.pokemon = res.data
          console.log(res.data)
        })
        .catch((error) => {
          console.log('APRENDE A PROGRAMAR', error)
        })
    }
  }
}
</script>
